/* 테이블 스타일 */
.wishlist-container {
    width: 1200px;
    margin: 50px auto;
}

.wishlist-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.wishlist-table {
    width: 1200px;  /* 테이블 너비 고정 */
    margin: 0 auto;  /* 가운데 정렬 */
    border-collapse: collapse;
    border-radius: 10px;
    table-layout: auto;
}

.wishlist-table th, .wishlist-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
}


.wishlist th, .wishlist td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.wishlist th {
    background-color: #f1f1f1;
}


.wishlist tr:hover {
    background-color: #ddd;
}

.no-items {
    text-align: center;
    padding: 20px;
    color: #888;
}

.wish-book-image {
    width: 60px;
    height: 90px;
    object-fit: contain;
}

/* 버튼 디자인 */
.read-button, .cancel-button {
    background-color: transparent; 
    border: none;                   
    cursor: pointer;                
    font-size: 1.5rem;              
    padding: 8px;                  
    transition: transform 0.3s, color 0.3s;
}

/* 독서 상태 버튼 (책 아이콘) */
.read-button {
    color: #555; 
    font-size: 1.8rem;
}

/* 독서 상태 버튼 호버 */
.read-button:hover {
    color: #4caf50;  
    transform: scale(1.2); 
}

/* 찜 취소 버튼 (하트 아이콘) */
.cancel-button {
    color: #f44336;  
    font-size: 1.8rem;
}

/* 찜 취소 버튼 호버 */
.cancel-button:hover {
    color: #d32f2f;  
    transform: scale(1.2);  
}
