#sign_up_modal {
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#sign_up_modal input {
padding: 10px;
margin-top: 10px;
font-size: 16px;
border: 1px solid #ccc;
border-radius: 4px;
margin-right: 10px;
background-color: #f9f9f9;
cursor: pointer;
transition: border-color 0.3s;
}


.address-group select {
    margin-top: 10px;
}

.txt_basic {
    width: 350px;
}

input[name='u_phone'] {
    width: 140px;
}

#user_zipcode {
    width: 220px;
}

button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.3s;
}

.btn_basic {
    width: 150px;
    margin-bottom: 10px;
}

.btn_basic[name='signup']
{
    width: 150px;
}


.sign_up_form {
    margin-bottom: 20px;
}

.our-event-section .slider {
    justify-content: unset;
    width: 100%;
    display: block;
}

.our-event-section .slider .book-list .book-items{
    justify-content: unset;
    width: 500px;
    display: block;
    margin: 0 auto;
}

.our-event-section .slider .book-list .book-items .book-item{
    background-color: #fff;
    background: #fff;
    box-shadow: none;
}

.our-event-section .slider .book-item img {
    width: 500px;
    object-fit: contain;
    height: 150px;
}

.our-event-section .slider .book-item a {
    display: inline;
}

.our-event-section .slider-button {
    display: none;
}

.sign-error-msg {
    color: red;
}