/* src/css/Navbar.css */
.navbar {
  background-color: #333;
  padding: 15px 0;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-item a:hover {
  text-decoration: underline;
}

.nav-item .update-link {
  cursor: pointer;
  text-decoration: none;
  color: #007bff; /* 링크 색상 */
}

.nav-item .update-link:disabled {
  color: grey;
  cursor: not-allowed;
}