/* Pagination 컴포넌트 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .pagination span {
    font-size: 16px;
    margin: 0 10px;
  }
  